<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" href="#">Рухляти</span>
    <span class="navbar-text">Navbar text with an inline element</span>
</nav>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
<footer>
    <div class="nexus-footer">
        <span class="nexus-footer__copyright">© 2022 Skandinaviska Enskilda Banken AB (publ)</span>
    </div>
</footer>
</html>
